/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(221, 219, 219);
  -webkit-box-shadow: 0 0 0px 1000px rgb(25, 26, 25) inset;
  transition: background-color 5000s ease-in-out 0s;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;
 flex-direction: column;
 justify-content: center;
 row-gap: 2rem;
 width: 100%;
 height: 100%;
 background-color: rgb(25, 26, 25);
}

.form{
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}

.profileAdd{
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:30px;
}

.wrapper{
  width: 400px;
  height: 35px;
  position: relative;
}
.addPictureImage{
  height: 70px;
  width: 70px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.formInputStreet1{
  position: relative;
  
}
.wrapper input{
  background:transparent;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(114, 114, 114);
  outline: none;
  border-radius: 5px;
  padding-left: 13px;
  color: rgb(221, 219, 219);
  font-size: 16px;
 
}

.wrapper label{
  position: absolute;
  left: 15px;
  top: 9px;
  color: rgb(214, 212, 212);
  text-transform: capitalize;
  font-size: 16px;
  transition: top 0.3s ease;
  padding: 0 5px;
}
.wrapper input:focus ~ label,
.wrapper input:valid ~ label
{
top: -11px;
background-color: rgb(25, 26, 25);
pointer-events: none;
font-size: 14px;
}

.wrapper .addLabel{
  top: -11px;
  position: absolute;
  left: 15px;
  top: -11px;
  color: rgb(214, 212, 212);
  text-transform: capitalize;
  font-size: 14px;
  transition: top 0.3s ease;
  padding: 0 5px;
  background-color: rgb(25, 26, 25);
}

.wrapper input:focus{
  border: 2px solid rgb(124, 155, 240);
}
.profile{
  font-size: 1.5rem;
  color: rgb(114, 114, 114);
  margin-right: 10px;
}

/* form address */

.wrapper .formInputStreet{
  width: 45%;
}
.wrapper .formInputCity{
  width: 45%;
}
.addpos{
  display: flex;
  flex-direction: row;  
}


.profileImage{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(54, 70, 114, 0.61);
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileImg{
  font-size: 1.5rem;
  color: rgb(124, 155, 240);
}
.addPicture .addBtn{
  font-size: 1.2rem;
  color: rgb(124, 155, 240);
  border:none;
  cursor: pointer;
  background: transparent;
  margin-top: 12px;
}

.wrapper .formInputzipcode{
  width: 45%;
  position: relative;
  top: -155%;
}
.wrapper select{
  background:transparent;
  width: 50%;
  height: 100%;
  border: 2px solid rgb(114, 114, 114);
  outline: none;
  border-radius: 5px;
  padding-left: 12.5px;
  color: rgb(221, 219, 219);
  font-size: 14px;
}
.formInputCompany{
  margin-left:3px;
}

.wrapper .formLabelOption{
  position: absolute;
  left: 15px;
  top: -11px;
  color: rgb(214, 212, 212);
  text-transform: capitalize;
  font-size: 14px;
  transition: top 0.3s ease;
  padding: 0 5px;
  background-color: rgb(25, 26, 25);
}
.wrapper select:focus{
top: -11px;
background-color: rgb(25, 26, 25);
pointer-events: none;
font-size: 14px;
border: 2px solid rgb(124, 155, 240);
}

.marginLeft{
  margin-left: 32px;
  margin-top: -10px;
}



.form .saveBtn{
  margin-top: -13.3rem;
  margin-left: 10rem;
  width: 90px;
  height: 38px;
  border: none;
  outline: none;
  border-radius: .5rem;
  font-weight: 480;
  background-color: rgb(143, 169, 243);
  color: rgb(54, 70, 114);
  font-size: 1.1rem;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: background-color 0.3s ease;
}
.form .saveBtn:hover{
  background-color: rgb(124, 155, 240);
}

.address1{
  position: relative;
  top: -57px;
  left: 215px;
}
.address2{
  position: relative;
  top: -60px;
}

.formCompany{
  margin-top: -10px;
}
.formAddress{
  margin-top: -6px;
}
.wrapper .compnayLabel{
  position: absolute;
  left: 15px;
  top: -11px;
  color: rgb(214, 212, 212);
  text-transform: capitalize;
  font-size: 14px;
  transition: top 0.3s ease;
  padding: 0 5px;
  background-color: rgb(25, 26, 25);
}
.formPhone{
  margin-top: -10px;
}
span{
  position: absolute;
  right:-37px;
  top: 5px;
  font-size:1.8rem;
  color: rgb(54, 70, 114);
}

/* meadia for mobile screen */
@media screen and (max-width: 527px){
  body{
  background-color: rgb(25, 26, 25);
  width: 100vw;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;
 flex-direction: column;
 justify-content: center;
 row-gap: 2rem;
 width: 90%;
 margin-right: 40px;
 
}

.form{
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}

.profileAdd{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:30px;
}

.wrapper{
  width: 250px;
  height: 35px;
  position: relative;
}

.formInputStreet1{
  position: relative; 
}
.wrapper input{
  font-size: 15px; 
}

.wrapper label{
  font-size: 15px;
}

/* form address */

.wrapper .formInputStreet{
  width: 45%;
}
.wrapper .formInputCity{
  width: 45%;
}
.addpos{
  display: flex;
  flex-direction: row;  
}


.profileImage{
  display: none;
}

.addPicture .addBtn{
  display: none;
}

.address1{
  position: relative;
  top: -57px;
  left: 138px;
}
.address2{
  position: relative;
  top: -60px;
}

.formCompany{
  margin-top: -10px;
}
.formAddress{
  margin-top: -6px;
}

.formPhone{
  margin-top: -16px;
}

}