.footer{
    position: absolute;
    bottom: 0;
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-weight: 500;
    color: rgb(126, 155, 216);   
}