.contactBox{ 
    height: 520px;
    width: 300px;
    border: 1px solid rgb(11, 11, 11);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 10px;
    color: grey;
    position: relative;
   
}
.box{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding: 30px;
   justify-content: center;
   
   
}
.profileImg{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid rgb(11, 11, 11);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);   
}

.contactItemBox{
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    overflow-y: hidden
}


.nameContent{
    height: auto;
    max-width: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 180px;
    background-color: rgb(236, 120, 120);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    color: white;
}
.email{
    height: 25px;
    width:100px;
    padding: 5px;
    background-color: rgba(109, 144, 251, 0.655);
    left: 10px;
    top: 180px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
}

.emailContent{
    height: auto;
    max-width: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    background-color: rgb(236, 120, 120);
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 220px;
    left: 10px;
    color: white;
}

.contact{
    height: 25px;
    width:100px;
    padding: 5px;
    background-color: rgba(109, 144, 251, 0.655);
    left: 10px;
    top: 260px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
}

.contactContent{
    height: auto;
    max-width: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    background-color: rgb(236, 120, 120);
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 300px;
    left: 10px;
    color: white;
}

.address{
    height: 25px;
    width:100px;
    padding: 5px;
    background-color: rgba(109, 144, 251, 0.655);
    left: 10px;
    top: 340px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
}

.addressContent{
    height: auto;
    max-width: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    background-color: rgb(236, 120, 120);
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 380px;
    left: 10px;
    color: white;
}

.company{
    height: 25px;
    width:100px;
    padding: 5px;
    background-color: rgba(109, 144, 251, 0.655);
    left: 10px;
    top: 420px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
}

.companyContent{
    height: auto;
    max-width: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    background-color: rgb(236, 120, 120);
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 460px;
    left: 10px;
    color: white;
}