
.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
  justify-content: center;
  background-image: url("https://img.freepik.com/free-vector/white-gray-geometric-pattern-background-vector_53876-136510.jpg?w=996&t=st=1689782689~exp=1689783289~hmac=f6843f122033eea8a9150b54e90580e737f5a9bcb9d71d977189692063cee8bf");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  background-position: fixed;
}
::-webkit-scrollbar{
  width: 0px;
}

.contactBox {
  height: 520px;
  width: 300px;
  background: linear-gradient(rgba(250, 247, 247, 0.84), rgb(246, 236, 241));
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px;
  color: grey;
  position: relative;

}
.header {
  position: absolute;
  column-gap: 0.8rem;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  top: 0;
  width: 100%;
  height: 130px;
  color: white;
  background: linear-gradient(
    90deg,
    rgb(249, 184, 151) 0%,
    rgb(234, 150, 114) 35%,
    rgb(234, 90, 121) 100%
  );
}

.header .icon {
  margin-left: 25px;
  height: 1.1rem;
}

.mobileStyle {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 0.2rem;
  padding: 10px;
  font-size: 0.7rem;
  position: absolute;
  top: 0;
  right: 0;
}

.iconm3{
 font-size: 0.6rem;
}

.iconm2{
 font-size: 0.6rem;
}


.nameUserName {
  position: absolute;
  top: 85px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  color: white;
}

.nameUserNameContent {
  margin-left: 15px;
  align-items: center;
  color: white;
}

.name {
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.userNameStyle {
  position: absolute;
  max-width: 150px;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(237, 140, 245) 0%,
    rgb(235, 138, 211) 35%,
    rgb(207, 95, 119) 100%
  );
  font-size: 0.7rem;
  font-family: sans-serif;
  border-radius: 8px;
  width: auto;
  margin-top: 3px;
  padding: 2px 8px;
  height: auto;
}

.profileImg {
  height: 75px;
  width: 70px;
  border-radius: 10%;
}

.Information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  row-gap: 20px;
  left: 22px;
}

.emailInformation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.emailIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 35px;
  width: 35px;
  background: linear-gradient(
    180deg,
    rgb(255, 232, 138) 0%,
    rgb(251, 215, 72) 35%,
    rgb(232, 164, 6) 100%
  );
  border-radius: 50%;
  margin-top: -12px;
}
.icon1 {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.emailStyle {
  font-size: 1.1rem;

  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.emailContent {
  font-size: 0.8rem;
  color: rgb(141, 141, 141);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 15px;
}

.email {
  border-bottom: 1px solid rgba(141, 141, 141, 0.396);
  width: 230px;
}

.phoneInformation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.phoneIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 35px;
  width: 35px;
  background: linear-gradient(
    180deg,
    rgb(243, 122, 182) 0%,
    rgb(251, 97, 158) 35%,
    rgb(241, 16, 84) 100%
  );
  border-radius: 50%;
  margin-top: -12px;
}
.icon2 {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.phoneStyle {
  font-size: 1.1rem;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.phoneContent {
  font-size: 0.8rem;
  color: rgb(141, 141, 141);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 15px;
}

.phone {
  border-bottom: 1px solid rgba(141, 141, 141, 0.396);
  width: 230px;
}

.addInformation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.addIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 35px;
  width: 35px;
  background: linear-gradient(
    180deg,
    rgb(209, 137, 245) 0%,
    rgb(184, 122, 214) 35%,
    rgb(110, 76, 225) 100%
  );
  border-radius: 50%;
  margin-top: -12px;
}
.icon3 {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.addStyle {
  font-size: 1.1rem;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.addContent {
  font-size: 0.8rem;
  color: rgb(141, 141, 141);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 15px;
}

.add {
  border-bottom: 1px solid rgba(141, 141, 141, 0.396);
  width: 230px;
}

.companyInformation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.companyIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 35px;
  width: 35px;
  background: linear-gradient(
    180deg,
    rgb(248, 193, 247) 0%,
    rgb(248, 158, 236) 35%,
    rgb(248, 91, 212) 100%
  );
  border-radius: 50%;
  margin-top: -12px;
}
.icon4 {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.companyStyle {
  font-size: 1.1rem;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.companyContent {
  font-size: 0.8rem;
  color: rgb(141, 141, 141);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 15px;
}

.company {
  width: 230px;
}

.delete{
  color: rgb(228, 112, 112);
  font-size: 1.5rem;
  position: absolute;
  right: 0px;
  padding: 15px;
  top: -55px;
  transition: 0.2s ease ;
}
.delete:hover{
  color: red;
  transform: scale(1.1);
  top: -52px;
}

.cityZipcode{
  margin-top: -12px;
}